body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-image: url('/images/pita-pit-gym-600-91035.jpg');
  background-size: 100%;
  background-repeat: no-repeat; */
  width: 100%;
}

a {
  color: #00B7FF;
}

#formulario {
  position: relative;
  left: 30%;
  width: 700px;
  height: 700px;
  text-align: center;
  background-position: center center;
  /* background: radial-gradient(ellipse, black, white); */
  margin-top: 100px;
  border: 4px solid black;
}

input {
  margin-top: 25px;
  border: none;
}

.boton {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #525252);
  background-image: -moz-linear-gradient(top, #ffffff, #525252);
  background-image: -ms-linear-gradient(top, #ffffff, #525252);
  background-image: -o-linear-gradient(top, #ffffff, #525252);
  background-image: linear-gradient(to bottom, #ffffff, #525252);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  text-shadow: 4px 1px 3px #ffffff;
  font-family: Courier New;
  color: #000000;
  font-size: 50px;
  padding: 7px 21px 10px 20px;
  text-decoration: none;
  position: absolute;
  bottom: 100px;
  left: 40%;
}

.boton:hover {
  background: #525252;
  background-image: -webkit-linear-gradient(top, #525252, #ffffff);
  background-image: -moz-linear-gradient(top, #525252, #ffffff);
  background-image: -ms-linear-gradient(top, #525252, #ffffff);
  background-image: -o-linear-gradient(top, #525252, #ffffff);
  background-image: linear-gradient(to bottom, #525252, #ffffff);
  text-decoration: none;
}
.container {
  padding-top: 100px;
  padding-left: 20%
}
.panel-login {
border-color: #ccc;
-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
color: #00415d;
background-color: #fff;
border-color: #fff;
text-align:center;
}
.panel-login>.panel-heading a{
text-decoration: none;
color: #666;
font-weight: bold;
font-size: 15px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
color: #029f5b;
font-size: 18px;
}
.panel-login>.panel-heading hr{
margin-top: 10px;
margin-bottom: 0px;
clear: both;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
height: 45px;
border: 1px solid #ddd;
font-size: 16px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
outline:none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border-color: #ccc;
}
.btn-login {
background-color: #59B2E0;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
text-transform: uppercase;
border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
color: #fff;
background-color: #53A3CD;
border-color: #53A3CD;
}
.forgot-password {
text-decoration: underline;
color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
text-decoration: underline;
color: #666;
}

.btn-register {
background-color: #1CB94E;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
text-transform: uppercase;
border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
color: #fff;
background-color: #1CA347;
border-color: #1CA347;
}

